/*========================================
            DEFAULT VALUES:

            font family:  Roboto Condensed
    
            light blue :  #34c6d3  (buttons, icons, links & backgrounds)
            Steel Grey :  #41464b   (headings)
            Blue Bayoux:  #64707b   (paragraph)
            white      :  #fff  (text with black background) 
            black      :  #000
=========================================*/


/*    General CSS   */

html,
body {
    height: 100%;
    position: relative;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

p {
    color: #64707b;
}

h3 {
    text-transform: uppercase;
}


/*========================================
                HOME 
=========================================*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../img/bg-home.jpg");
}

#home-heading {
    margin: 0 0 20px 0;
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 15px 0 15px 0;
}


/*========================================
                PARALLAX 
=========================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/*========================================
                BUTTONS
=========================================*/

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 8px 26px 8px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover,
btn-white:focus {
    background-color: #34c6d3;
    color: #fff;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 2px 15px;
    border-radius: 0;
    display: none;
}


/*========================================
                Animate CSS
=========================================*/

#home-cover,
#home-heading,
#home-btn {
    animation-duration: .5s;
}

#home-cover {
    animation-delay: .1s;
}

#home-heading {
    animation-delay: .5s;
}

#home-btn {
    animation-delay: 1s;
}


/*========================================
                Content Box (Generic)
=========================================*/

.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 30px 0;
}

.content-title-white h3 {
    color: white;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}


/*========================================
              Services
=========================================*/

.service-item {
    padding: 20px 0 20px 0;
    margin: 20px;
    cursor: pointer;
}

.service-item-icon i {
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i {
    color: #fff;
    background-color: #34c6d3;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p {
    margin: 0;
    padding-left: 85px;
}


/*========================================
              ABOUT
=========================================*/

#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(../img/bg-about.jpg);
    border-left: 200px solid white;
    border-top: 700px solid transparent;
}

#about-content-box {
    width: 360px;
    float: left;
    height: 700px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title-underline {
    margin: 0 0 30px 0;
}

#about-desc p {
    margin-bottom: 30px;
}


/*========================================
              WORK
=========================================*/

.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper img {
    transition: transform .5s ease;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img:hover {
    transform: scale(1.5);
}


/*========================================
             TEAM 
=========================================*/

.team-member {
    margin: 0 15px;
}

.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 20px;
}

h4.team-member-designation {
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}


/*========================================
             SOCIAL ICONS
=========================================*/

.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 17px;
    color: #64707b;
}

.social-icon i:hover {
    color: #34c6d3;
}

.icon-gray i {
    color: #64707b;
}

.icon-white i {
    color: #fff;
}


/*========================================
             Testimonials
=========================================*/

#testimonials-cover {
    background-image: url(../img/bg-testimonials.jpg);
}

#testimovials .content-box {
    background-color: rgba(0, 0, 0, 0.1);
}

#customers-testimonials {
    padding: 50px 0;
}

.testimonial img {
    max-width: 120px;
    margin: 0 auto 0 auto;
}

.testimonial blockquote p {
    color: white;
}

.testimonial blockquote {
    color: white;
    border: 0;
    font-family: Georgia, sans-serif;
    font-style: italic;
    padding: 6px 150px;
    position: relative;
}

.testimonial blockquote::before {
    content: "\201C";
    font-size: 80px;
    font-style: normal;
    line-height: 0.6;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    left: 100px;
}

.testimonial blockquote::after {
    content: "\201D";
    font-size: 80px;
    font-style: normal;
    line-height: 0.5;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 100px;
    left: auto;
}

.testimonial-author p {
    color: white;
    font-size: 17px;
}

.testimonial-author p strong {
    display: block;
}


/*========================================
             Pricing
=========================================*/

.pricing-box {
    border: 3px solid #34c6d3;
    padding: 50px 0;
    margin: 40px 0;
}

h4.pricing-title {
    background-color: #34c6d3;
    color: #fff;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

h3.pricing-value {
    font-size: 60px;
    font-weight: 700;
}

h3.pricing-value sup {
    font-size: 28px;
    font-weight: normal;
    vertical-align: super;
}

ul.pricing-spec {
    list-style: none;
    padding-left: 0;
    margin: 20px 0 60px 0;
}

ul.pricing-spec li p {
    font-weight: 400;
    text-transform: uppercase;
}

.pricing-box-lg {
    padding: 90px 0;
    margin: 0;
    background-color: #34c6d3;
}

.pricing-box-lg h4.pricing-title {
    color: #34c6d3;
    background-color: white;
}

.pricing-box-lg ul.pricing-spec li p {
    color: #fff;
}


/*========================================
             STATS 
=========================================*/

#stats-cover {
    background-image: url(../img/bg-stats.jpg);
}

#stats .content-box {
    background-color: rgba(0, 0, 0, .8);
}

.stats-item {
    padding: 100px 0;
}

.stats-item i {
    color: #34c6d3;
}

.stats-item h2 {
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px
}

.stats-item p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
    font-size: 13px;
}


/*========================================
             CLIENTS 
=========================================*/

.client {
    padding: 40px 0;
}


/*========================================
             CONTACT 
=========================================*/

footer {
    background-color: #41464b;
    padding-top: 30px;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

#contact-left h3,
#contact-right h3 {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

#contact-left p {
    color: #fff;
    margin-bottom: 30px;
}

#contact-info {
    background-image: url(../img/world-map.png);
    background-repeat: no-repeat;
    background-size: contain;
}

address {
    color: #fff;
}

address strong,
#phone-fax-email strong {
    letter-spacing: 1px;
}

form .form-control {
    background: transparent;
    border-radius: 0;
    border-color: white;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #fff;
}


/*========================================
             Footer Bottom 
=========================================*/

#footer-bottom {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    margin-top: 60px;
}

#footer-copyrights p {
    margin: 0;
    color: #fff;
}

#footer-menu {
    float: right;
    color: #fff;
    font-size=16px;
    font-weight: 300;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu li {
    display: inline-block;
}

#footer-menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
}

#footer-menu a:hover {
    color: #34c6d3;
}


/*========================================
             NAVIGATION
=========================================*/

.navbar {
    padding: 20px 0;
    transition: all .5s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
}

.vesco-top-nav {
    background: rgba(0, 0, 0, 0.7);
}

#vesco-menu {
    margin-left: 300px;
}

.navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    background: none;
    color: #34c6d3;
}

.fa-bars {
    border-radius: 0;
    color: #fff;
    margin: 1px;
    size: 10px;
    padding: 2px;
    align-content: flex-end;
}

.vesco-top-nav2 {
    padding: 7px 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
